<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p>
        I am a very positive person, I believe there's always a better way to achieve something.
    </p>
    <p>
        I'm a final year Student of the department of Chemical Engineering, University of Port Harcourt
    </p>
    <p>
    I like music, so I play the guitar and the piano, I love delicious Nigerian dishes, My favourite being the Eguisi soup, though I'm not the best cook in the world but I do okay.
    </p>
</body>
</html>