<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <ul>
        <li>Github: <a href="https://github.com/olakadasami">Olakadasami</a></li>
        <li>Twitter: <a href="https://twitter.com/olaks_codes">olakscodes</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/samuel-olakada-3b82431b8">Olakada Samuel</a></li>
        <li>Instagram: <a href="https://www.instagram.com/olakada_sami/">Olakadasami</a></li>
    </ul>
</body>
</html>